// Colors

// Primary

$scissor-bg-shadow: hsl(39, 89%, 49%);
$scissor-bg: hsl(40, 84%, 53%);

$paper-bg-shadow: hsl(230, 89%, 62%);
$paper-bg: hsl(230, 89%, 65%);

$rock-bg-shadow: hsl(349, 71%, 52%);
$rock-bg: hsl(349, 70%, 56%);

$lizard-bg-shadow: hsl(261, 73%, 60%);
$lizard-bg: hsl(261, 72%, 63%);

$cyan-bg-shadow: hsl(189, 59%, 53%);
$cyan-bg: hsl(189, 58%, 57%);

// Neutral

$color-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$border: hsl(217, 16%, 45%);

// Background
$bg-radial: hsl(214, 47%, 23%);
$bg-radial-shadow: hsl(237, 49%, 15%);

$white: hsl(240, 100%, 100%);
$shadow: hsl(0, 0%, 85%);