//GAP
$gap:     4px;
$gap-x2:  $gap*2;   //8px
$gap-x3:  $gap*3;   //12px
$gap-x4:  $gap*4;   //16px
$gap-x5:  $gap*5;   //20px
$gap-x6:  $gap*6;   //24px
$gap-x7:  $gap*7;   //28px
$gap-x8:  $gap*8;   //32px
$gap-x9:  $gap*9;   //36px
$gap-x10: $gap*10;  //40px

//SECTION MARGIN
$section-margin: 50px;