body, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body, div, section, article {
  box-sizing: border-box;
}

body, button {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
}

button {
  cursor: pointer;
}