.header {
  .header-content {
    border: 3px $border solid;
    border-radius: 15px;
    max-width: 700px;
    width: 80%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    margin: $section-margin auto;
    align-items: center;
    padding: 0 $gap-x6;

    .icon-name {
      width: 170px;
    }

    .score {
      width: 140px;
      height: 100px;
      background-color: $white;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      .title {
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 600;
        color: $score-text;
      }

      .points{
        line-height: 60px;
        font-size: 60px;
        font-weight: 700;
        color: $color-text;
      }
    }
  }
}

@include medium {
  .header {
    .header-content {
      height: 115px;
      .icon-name {
        width: 160px;
      }
      .score {
        width: 110px;
        height: 85px;
      }
    }
  }
}

@include small {
  .header {
    .header-content {
      height: 105px;
      padding: 0 $gap-x4;
      .icon-name {
        width: 130px;
      }
      .score {
        width: 90px;
        height: 70px;
        .title {
          font-size: 12px;
        }
  
        .points{
          font-size: 46px;
          line-height: 46px;
        }
      }
    }
  }
}

@include extra-small {
  .header {
    .header-content {
      height: 80px;
      .icon-name {
        width: 100px;
      }
      .score {
        width: 70px;
        height: 60px;
        .title {
          font-size: 10px;
        }
  
        .points{
          font-size: 36px;
          line-height: 36px;
        }
      }
    }
  }
}